Repository hieutt99/aidudu, pull requests merged in 2021-11, with the labels that each got.

#15 Initialize backend structure
  .vscode/settings.json
  README.md
  backend/.env_files/backend.dev.env
  backend/.gitignore
  backend/aidudu/__init__.py
  backend/aidudu/__pycache__/__init__.cpython-39.pyc
  backend/aidudu/__pycache__/settings.cpython-39.pyc
  backend/aidudu/asgi.py
  backend/aidudu/celery.py
  backend/aidudu/settings.py
  backend/aidudu/urls.py
  backend/aidudu/wsgi.py
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tasks.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/dockerfile
  backend/manage.py
  backend/requirements.txt
  backend/requirements_macos.txt
  backend/utilities/file.py
  backend/utilities/image.py
  backend/utilities/request.py
  backend/utilities/string_util.py
  docker-compose.local.yml
Labels: backend

#18 Add some basic docs of a repository
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
Labels: documentation

#20 Create models
  backend/aidudu/models.py
  backend/aidudu/settings.py
  backend/api/migrations/0001_initial.py
  backend/api/models.py
  backend/api/serializers.py
  backend/celerybeat-schedule
  backend/data/.gitignore
  backend/requirements.txt
  backend/requirements_macos.txt
Labels: backend

#23 Add Authentication API
  README.md
  backend/.gitignore
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  backend/celerybeat-schedule
Labels: backend

#26 update user bio & card membership
  backend/api/models.py
Labels: backend

#30 update models and card viewset
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: backend

#32 update models
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_boardmembership_starred.py
  backend/api/models.py
  backend/api/serializers.py
Labels: backend

#33 Update docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#35 update
  backend/aidudu/settings.py
  backend/api/backends.py
Labels: backend

#36 update
  backend/api/admin.py
  backend/api/urls.py
  backend/api/views.py
Labels: backend

#57 Update APIs docs, examples. Fix add member to card API
  backend/aidudu/__pycache__/__init__.cpython-36.pyc
  backend/aidudu/__pycache__/celery.cpython-36.pyc
  backend/aidudu/__pycache__/settings.cpython-36.pyc
  backend/api/admin.py
  backend/api/views.py
Labels: backend

#55 test endpoints /cards
  backend/aidudu/__pycache__/__init__.cpython-36.pyc
  backend/aidudu/__pycache__/celery.cpython-36.pyc
  backend/aidudu/__pycache__/settings.cpython-36.pyc
  backend/api/admin.py
  backend/api/tests/unit_tests/test_cards.py
  backend/api/tests/unit_tests/test_list.py
  backend/api/tests/unit_tests/test_lists.py
  backend/api/tests/unit_tests/test_workspaces.py
  backend/api/views.py
Labels: test

#61 add create/delete list APIs
  backend/api/serializers.py
  backend/api/views.py
Labels: backend
