Repository hieutt99/aidudu, pull requests merged in 2022-01, with the labels that each got.

#93 update multi card api
  backend/api/views.py
Labels: backend

#94 Add API: archive a card
  backend/api/migrations/0003_auto_20220102_1433.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests/unit_tests/test_checklist.py
  backend/api/tests/unit_tests/test_label.py
  backend/api/views.py
  backend/requirements.macos.txt
  backend/requirements.ubuntu.txt
  docker-compose.local.yml
Labels: backend

#97 update create card position incremental, put api position handle
  backend/api/migrations/0004_alter_card_description.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#99 API: update user
  backend/api/views.py
  backend/data/.gitignore
Labels: backend

#100 update list api with position
  backend/api/views.py
Labels: backend

#101 Minhdq99hp/update
  backend/api/serializers.py
  backend/api/signals.py
  backend/api/views.py
Labels: backend

#102 update list name in api and fitler archived cards
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#104 update api add members to board & get members of board
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#107 update apis
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#110 Minhdq99hp/update
  backend/aidudu/settings.py
  backend/api/admin.py
  backend/api/signals.py
  backend/api/views.py
  docker-compose.local.yml
  docker-compose.prod.yml
  frontend/dockerfile.prod
  frontend/package.json
  frontend/src/app/modules/Auth/pages/Login.js
  frontend/src/app/modules/Dashboard/pages/board/components/Board.js
  frontend/src/config.js
Labels: frontend

#111 Implement board members
  frontend/src/app/modules/Dashboard/pages/board/components/Board.js
  frontend/src/app/modules/Dashboard/pages/board/components/BoardStyles.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-list/BoardList.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-member/BoardMember.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-workspace-visibility/BoardWorkspaceVisibility.js
Labels: frontend

#115 update api
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#122 update api
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#123 Minhdq99hp/update
  backend/api/serializers.py
  backend/api/views.py
  docker-compose.local.yml
  frontend/src/app/BasePage.js
  frontend/src/app/modules/Auth/_redux/authRedux.js
  frontend/src/app/modules/Dashboard/_redux/card/cardCrud.js
  frontend/src/app/modules/Dashboard/pages/board/BoardPage.js
  frontend/src/app/modules/Dashboard/pages/board/components/Board.js
  frontend/src/app/modules/Dashboard/pages/board/components/BoardStyles.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-card-item/BoardCardItem.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-list/BoardList.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-member/BoardMember.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-workspace-visibility/BoardWorkspaceVisibility.js
  frontend/src/app/modules/Dashboard/pages/card/CardModal.js
  frontend/src/app/modules/Dashboard/pages/card/components/CardComment.js
  frontend/src/app/modules/Dashboard/pages/card/components/CardMove.js
  frontend/src/app/modules/Dashboard/pages/home/components/aside/HomeAsideMenuList.js
  frontend/src/app/modules/Dashboard/pages/home/components/main/WorkspaceWidget.js
  frontend/src/app/modules/ErrorsExamples/ErrorPage1.js
  frontend/src/app/utils/dateUtils.js
  frontend/src/config.js
Labels: backend, frontend

#124 update api
  backend/api/serializers.py
Labels: backend

#130 Minhdq99hp/update
  backend/api/views.py
Labels: backend

#131 update remove member from workspace and set admin for workspace
  backend/api/views.py
Labels: backend

#132 update absolute url
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#133 hot fix
  backend/api/serializers.py
Labels: backend

#137 update api
  backend/api/serializers.py
  backend/data/media/profile_pics/22.jpg
  backend/data/media/profile_pics/28.jpg
  frontend/package.json
  frontend/src/app/BasePage.js
  frontend/src/app/modules/Dashboard/_redux/card/cardCrud.js
  frontend/src/app/modules/Dashboard/_redux/card/checklistCrud.js
  frontend/src/app/modules/Dashboard/_redux/workspace/workspaceCrud.js
  frontend/src/app/modules/Dashboard/pages/board/BoardPage.js
  frontend/src/app/modules/Dashboard/pages/board/components/Board.js
  frontend/src/app/modules/Dashboard/pages/board/components/BoardStyles.js
  frontend/src/app/modules/Dashboard/pages/card/CardModal.js
  frontend/src/app/modules/Dashboard/pages/card/components/CardChecklist.js
  frontend/src/app/modules/Dashboard/pages/card/components/CardComment.js
  frontend/src/app/modules/Dashboard/pages/card/components/CardMemberChip.js
  frontend/src/app/modules/Dashboard/pages/card/components/CardMemberModal.js
  frontend/src/app/modules/Dashboard/pages/home/components/aside/HomeAsideMenuList.js
  frontend/src/app/modules/Dashboard/pages/home/components/aside/WorkspaceMenuItem.js
  frontend/src/app/modules/Dashboard/pages/workspace/WorkspacePage.js
  frontend/src/app/modules/Dashboard/pages/workspace/components/aside/WorkspaceAside.js
  frontend/src/app/modules/Dashboard/pages/workspace/components/aside/WorkspaceAsideMenu.js
  frontend/src/app/modules/Dashboard/pages/workspace/components/aside/WorkspaceAsideMenuList.js
  frontend/src/app/modules/Dashboard/pages/workspace/components/main/WorkspaceBoards.js
  frontend/src/app/modules/Dashboard/pages/workspace/components/main/WorkspaceSettings.js
  frontend/src/app/modules/Dashboard/pages/workspace/components/main/workspacemembers/WorkspaceMemberMain.js
  frontend/src/app/modules/Dashboard/pages/workspace/components/mainheader/WorkspaceDetail.js
Labels: backend

#138 Minhdq99hp/update
  backend/api/views.py
  docker-compose.yml
Labels: sys

#140 Update Board page
  frontend/src/app/modules/Dashboard/pages/board/components/Board.js
  frontend/src/app/modules/Dashboard/pages/board/components/BoardStyles.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-card-item/BoardCardItem.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-change-background-dialog/BoardChangeBackgroundDialog.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-list/BoardList.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-member/BoardMember.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-starred/BoardStarred.js
  frontend/src/app/modules/Dashboard/pages/board/components/board-workspace-visibility/BoardWorkspaceVisibility.js
Labels: frontend

#142 update api
  backend/api/serializers.py
Labels: backend
